/*Campo de edição do texto*/
.editor-paper{
  min-height: 200px;
  width: 70vw;
  margin: 0 15px 15px 15px;
  padding: 20px;
  border-style: outset;
  border-width: 1px;
  border-radius: 0 0px 8px 8px;
  background-color: white;
  word-wrap: break-word;
}

/* Ajustando responsividade */
@media only screen and (max-width: 1200px) {
  .editor-paper{
    width: auto;
  }
}

/*Botões*/
.editor-button{
  height: 40px;
  min-width: 100px;
  max-width: 50%;
  border: none;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  background-color: #4682B4;
  color: #F8F8FF;
  font-family: 'Arial Black';
  transition: all 0.3s;
  cursor: pointer;
}

.editor-button:hover{
  background-color: #708090;;
}

/*Espaço que contem os botões*/
.controls-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px 15px 15px;
}